[Unit]
Description=Decred Full Node

[Service]
Type=simple
User=ndrd
Group=ndrd
WorkingDirectory=/var/ndrd
ExecStart=/opt/endurio/bin/ndrd --appdata=/var/ndrd
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
